.end-screen{
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: white;

  .replay-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    padding: 4px;
    background-color: grey;
    transition: background-color 0.2s;
  }

  .replay-button:hover{
    cursor: pointer;
    background-color: rgb(182, 93, 93);
  }
}
