@import './board.scss';
@import './die.scss';
@import './info.scss';
@import './word-saver.scss';
@import './word-line.scss';

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	flex-flow: row wrap;

	.game{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 525px;
	}
}

body{
	margin: 0;
	overflow: hidden;
}
